{{ define "title" }}Catalogue{{ end }}

{{ define "content" }}
<h1>This is a list of all books available</h1>
<form method="get" action="/catalogue">
  <input type="text" name="query" value="{{ or .QueryParams.query "" }}" />
  <input type="submit" value="Search" />
</form>
<ol>
  {{- range $i, $book := .Results }}
  {{- $edition := index $book.Editions 0 }}
  <li>
    <h3><a href="/catalogue/books/{{ $book.ID }}">{{ $edition.Title }}</a></h3>
    <ul>
      {{- range $i, $author := $edition.Authors }}
      <li><a href="/catalogue{{ $author.ID }}">{{ $author.Name }}</a></li>
      {{- end }}
    </ul>
  {{- end }}
</ol>
{{ end }}